<!doctype html>
<html>
    <head>
        <title>Your Madlib</title>
        <link rel="stylesheet" href="/static/madlibs.css">
    </head>
    <body>
        <h1>Here's your Madlib!</h1>
        <p>There once was a <b>{{ color }} {{ noun }}</b> sitting in the Hackbright Lab. When <b>{{ person }}</b> went to pick it up, it burst into flames in a totally
        <b>{{ adj }}</b> way. </p>

        <p>Seeing the flames, <b>{{ person }}</b> quickly grabbed <b>{{ items }}</b> before fleeing the building. Once outside, {{ person }} looked up at the {{ adjs }} flames and sighed with relief at the narrow escape.</p>

    </body>
</html>

